# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.log
*.json


# Ignore backup CSV files and the backup folder entirely


# Ignore IDE specific files that cause conflicts
.idea/
.ipynb_checkpoints/
*.ipynb
tradingSignals.env
schwab_token.json
8gbAITrading.py
AIModels.py
easy_client.py
FuturePrice.py
NewStreamingDemo.py
tryit.py
